fastapi==0.125.0
psycopg[binary]==3.2.8
psycopg-pool==3.2.8
uvicorn[standard]==0.23.2
python-dotenv==1.0.0
pydantic==2.7.1

# Optional for testing
pytest==8.3.2
httpx==0.28.1         # for testing FastAPI endpoints
requests==2.32.5